<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="../../../assets/images/ariel.png" alt="Ariel Marti Carlini" class="img-fluid rounded-circle profile-picture">
    </div>

    <div class="container-fluid row col-md-8 justify-content-center">
      <div class="col-12">
        <h1 class="display-4">About me</h1>
        <p class="lead">Hi there! 👋 I'm Ariel, a <b>Full Stack Software Developer</b>. When I'm not coding, I'm probably scaling a mountain or diving into an underwater cave.</p>
        <p>I turned legacy systems into modern masterpieces, contributed to projects for steel giant factories and added quality product for 20k+ user platforms.</p>
      </div>

      <div class="col justify-content-center">
        <h5>🛠 Favorite Tools:</h5> <span><strong>C# .NET</strong>, Azure Clouding, <strong>TypeScript</strong>, Angular, GitHub, and TeamCity, CI/CD integrations.</span>
      </div>

      <div class="col justify-content-center">
        <span>🎓 Systems Programming Degree: 2y</span>
        <p>🌍 Speaking English, Spanish, & Italian.</p>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
        <a class="btn-social-media" href="https://www.linkedin.com/in/arielmarti/" rel="tooltip"
        target="_blank" title="Follow me Linkedin">
        <i class="fa fa-linkedin fa-lg "></i>
    </a>
    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
        href="https://github.com/4riel" rel="tooltip" target="_blank"
        title="Follow me on GitHub">
        <i class="fa fa-github fa-lg "></i>
    </a>
    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
      href="mailto:arielmarti@outlook.com" rel="tooltip" target="_blank"
      title="arielmarti@outlook.com">
    <i class="fa fa-envelope fa-lg "></i>
    </a>
  </div>

  <app-dinosaur></app-dinosaur>
</div>