<div class="container">
  <div class="section mb-5">
    <h1>Experience</h1>

    <div *ngFor="let exp of experiences" class="experience mb-4">
      <h4>{{ exp.title }} <span>at</span> {{ exp.company }}</h4>
      <p>
        <i class="fa fa-map-marker"></i> {{ exp.location }} | {{ exp.date }}
      </p>
      <ul>
        <li *ngFor="let task of exp.tasks">{{ task }}</li>
      </ul>
    </div>
  </div>

  <div class="section mb-5">
    <h3>Education 🎓</h3>
    <p>Systems Programming Degree</p>
    <p>
      National Technological University of Argentina, San Nicolas, Argentina
    </p>
    <p>02/2012 - 12/2014</p>
  </div>

  <div class="section mb-5">
    <h3>Others 🌟</h3>
    <p>
      <a href="https://www.linkedin.com/in/arielmarti/details/recommendations/">Linkedin references</a>
    </p>
    <p>Working abroad - University’s Interview: <a href="#">Link</a></p>
  </div>

  <app-dinosaur></app-dinosaur>
</div>